<nav class="menu">
    <div>
        <a href="/">home</a>
        <a href="/projects">{{{__ "nav projects"}}}</a>
        <a href="/blog">blog</a>
        <a href="/links">links</a>
        <a href="/register">{{{__ "nav register"}}}</a>
        <a href="/login">login</a>
        <a href="/lang">de / en</a>
    </div>
</nav>
