<nav>
    <a href="/edit/profile">Edit project</a>
    <a href="/update/profile">Update project</a>
    {{#if editor}}
        <a href="/edit/post">Edit post</a>
    {{/if}}
    <a href="/lang">de / en</a>
    <a href="/logout">Logout</a>

</nav>
