<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>final project</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <div class="nav-container">
            {{> nav}}
        </div>

        <div class="main">
            <div class="top-bar">
                <img id="logo" src="/images/logo.jpg" alt="logo" />
                <!-- <div id="menu-icon"> -->
                    <!-- <img id="menu-icon" src="/images/hamburger.png" /> -->
                <!-- </div> -->
            </div>
            {{{ body }}}
        </div>

        <script src="/script.js"></script>
    </body>
</html>
