<h1>blog</h1>


{{#each postsEn}}
    {{#if en_title}}
    <div class="project-container">
        <h2>{{en_title}}</h2>
        <p>{{en_post}}</p>
    </div>
    {{/if}}
{{/each}}


{{#each postsDe}}
    <div class="project-container">
        <h2>{{de_title}}</h2>
        <p>{{de_post}}</de>
    </div>
{{/each}}
