<h1>{{{__ "heading edit profile"}}}</h1>


{{#if err}}
    <p><strong>Something went wrong. Please try again.</strong></p>
{{/if}}

{{#if errimg}}
    <p><strong>Please upload an image.</strong></p>
{{/if}}

<!-- {{#if erremail}}
    <p><strong>Please enter a email address.</strong></p>
{{/if}} -->

<form method="POST" autocomplete="off" enctype="multipart/form-data">
<div id="form-outer-container">
    <div class="form-inner-container">
        <h2>DE</h2>
        <label>Name des Projekts<input type="text" name="de_name"></label>
        <label>Kurzbeschreibung<textarea name="de_short" rows="6"></textarea></label>
        <label>Langbeschreibung<textarea name="de_long" rows="10"></textarea></label>
        <label>Beitragen<textarea name="de_contribute" rows="6"></textarea></label>
        <label>Ort<input type="text" name="de_loc" ></label>
        <label>Tags<input type="text" name="de_tags"></label>
        <label>Webseite<input type="text" name="de_web"></label>
    </div>
    <div class="form-inner-container">
        <h2>EN</h2>
        <label>Name of the project<input type="text" name="en_name"></label>
        <label>Short description<textarea name="en_short" rows="6"></textarea></label>
        <label>Long description<textarea name="en_long" rows="10"></textarea></label>
        <label>How to contribute<textarea name="en_contribute" rows="6"></textarea></label>
        <label>Location<input type="text" name="en_loc" ></label>
        <label>Tags<input type="text" name="en_tags"></label>
        <label>Website<input type="text" name="en_web"></label>
    </div>
    <div class="form-inner-container">
        <label>Email<input type="email" name="contact" ></label>
        <label class="custom-file-upload">Upload a picture<input id="upload" type="file" accept="image/*" name="file"></label>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button>{{{__ "button publish"}}}</button>
    </div>
</div>
</form>
