<h1>edit profile</h1>

{{#if err}}
    <p><strong>Something went wrong. Please try again.</strong></p>
{{/if}}

{{#if editor}}<a href="/edit/post">edit posts</a>{{/if}}

<form method="POST" autocomplete="off">
<div id="form-outer-container">
    <div class="form-inner-container">
        <label><input type="text" name="de_name">Name des Projekts</label>
        <label><textarea name="de_short"></textarea>Kurzbeschreibung</label>
        <label><textarea name="de_long"></textarea>Langbeschreibung</label>
        <label><textarea name="de_contribute"></textarea>Beitragen</label>
        <label><input type="text" name="de_tags">Tags</label>
        <label><input type="text" name="de_web">Webseite</label>
    </div>
    <div class="form-inner-container">
        <label><input type="text" name="en_name">name of the project</label>
        <label><textarea name="en_short"></textarea>short description</label>
        <label><textarea name="en_long"></textarea>long description</label>
        <label><textarea name="en_contribute"></textarea>how to contribute</label>
        <label><input type="text" name="en_tags">tags</label>
        <label><input type="text" name="en_web">website</label>
    </div>

    <label><input type="email" name="contact" >Email</label>
    <!-- <label><input type="file" accept="image/*" name="image" >Logo</label> -->
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>submit</button>
</div>
</form>
