<h1>update project info</h1>

<ul>
{{#each updateProjectDe}}
<li><a href="/update/profile/{{id}}">{{de_name}}</a></li>
{{/each}}
</ul>


<ul>
{{#each updateProjectEn}}
<li><a href="/update/profile/{{id}}">{{en_name}}</a></li>
{{/each}}
</ul>
