* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/********** FONTS ************/

h1,
h2 {
    margin-bottom: 20px;
}

/********** HEADER ************/

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
}

#logo {
    width: 100px;
    margin: 20px;
}

nav {
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #666;
}

nav a:hover {
    text-decoration: underline;
}

/********** MAIN ************/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}

.projects-outer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-container img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.project-container {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 30%;
}

/********** FORM ELEMENTS ************/

#form-outer-container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.form-inner-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

input,
textarea {
    display: block;
    width: 250px;
    padding: 5px;
    margin: 10px 0;
}

/* label {
    margin: 15px;
} */
